*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content{
    max-width: 1110px;
    margin: auto;
}
.head{
    display: flex;
    align-items: center;
    height: 62px;
    justify-content: space-between;
}
header{
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
}
.head-span{
    font-size: 16px;
    margin-right: auto;
}
.btn-head{
    background-color: #ffa019;
    border-radius: 10px;
    color: white;
    border: none;
    width: 180px;
    height: 30px;
    font-size: 13px;
    font-weight: 900;
    cursor: pointer;
}
nav {
    display: flex;
    align-items: center;
    height: 62px;
}

.poisk{
    display: flex;
    align-items: center;
}

.nav-text {
    cursor: pointer;
    font-size: 30px;
    margin-right: auto;
    cursor: default;
}

a {
    text-decoration: none;
    color: black;
}

.navigation {
    list-style-type: none;
    margin-left: 28px;
}
.navigation:hover{
    transform: translateY(4px);
}
.scooter{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 867px;
}
.conteiner-img{
    margin: 1920px;
    height: 860px;
}
.scooter-img{
    position: absolute;
    filter: brightness(60%);
}
.giro-text{
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
    max-width: 700px;
}
.giro-name{
    font-size: 56px;
}
.giro-minitext{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.btn-katalog{
    width: 125px;
    height: 35px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 800;
    border: none;
    cursor: pointer;
}
.btn-katalog:hover{
    width: 125px;
    height: 35px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 800;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 17px 3px rgba(247, 213, 146, 0.74);
}

.our-char {
    display: flex;
    flex-direction: column;
}
.out-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.polygons{
    margin-top: 120px;
    text-decoration: none;
}
.p1:hover{
    transform: translateX(-5px);
}
.p2:hover{
    transform: translateX(5px);
}


.our-span {
    margin-top: 120px;
    font-weight: lighter;
    font-size: 34px;
}

.our {
    margin-top: 105px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.block {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 215px;
    align-items: center;
}
.block span{
    margin-top: 45px;
    font-size: 20px;
    font-weight: lighter;
}
.block img{
    width: 136px;
    height: 120px;
}

.about {
    margin-top: 150px;
}

.about-span {
    font-size: 34px;
    font-weight: lighter;
}

.about-text {
    font-weight: lighter;
    margin-top: 60px;
    font-size: 20px;
    line-height: 30px;
}

.subscribe {
    margin-top: 100px;
    height: 94px;  
    background-color: #ffa019;
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}

.sub-span {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    
}

.subs {
    display: flex;
    align-items: center;
    margin: 0;
}

.subs input {
    margin-left: 20px;
    font-weight: lighter;
    width: 220px;
    height: 40px;
    border: 1px solid #fff;
    color: #fff;
    background: #ffa019;
    padding-left: 10px;

}
.subs input:focus{
    outline: none;
}
.btn-about {
    border: none;
    width: 220px;
    height: 40px;
    margin-left: 20px;
    background-color: #fff;
}
.btn-about span {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}


.advantages-giro>span {
    font-size: 34px;
    font-weight: lighter;
    margin-top: 20px;
}

.adv {
    margin-top: 50px;
    margin-bottom: 65px;
    display: flex;
    justify-content: space-between;
}

.plus {
    line-height: 30px;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.advantages-giro p {
    font-weight: lighter;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 130px;
}

.katalog{
    background: #FBFBFB;
    height: 650px;
}
.catalog-nav{
    display: flex;
    padding-top: 70px;
    justify-content: space-between;
}
.nav-cat{
    font-size: 34px;
    font-weight: lighter;
}
.btn{
    cursor: pointer;
    background: #FBFBFB;
    padding: 7px;
    margin-left: 30px;
    font-size: 16px;
    border: none;
}
.button-style:hover{   
    background: #ffa019;
    border-radius: 50px;
    color: #fff;
}
.allkat{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}
.card{
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 230px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
}
.card:hover{
    box-shadow: 1px 0px 14px 8px rgba(255, 149, 11, 0.445);
}
.name{
    font-weight: lighter;
    padding-left: 5px;
    padding-top: 5px;    
    background: #fff;
}
.price{
    padding-top: 15px;
    padding-left: 5px;
    background: #fff;
    bottom: 0;
    font-weight: bold; 
}
.card-span{
    font-weight: 500;
    margin-top: 20px;
    color: #fff;
    padding: 7px;
    padding-right: 15px;
    text-align: center;
    border: none;
    border-radius: 0 30px 30px 0;
    top: 0;
    left: 0;
    position: absolute;
    background: #ffa019;
}
.foto{
    margin-top: 50px;
}
.consult{
    margin-top: 65px;
    margin-bottom: 165px;
}
.containterForConsult{
    display: flex;
    justify-content: space-between;
}
.out-cons{
    font-size: 34px;
    font-weight: lighter;
    
}
.cons-foto{
    height: 180px;
    width: 164px;
}
.card-consult{
    margin-top: 50px;
    display: flex;
    align-items: center;
    background: #FBFBFB;
    width: 32%;
    height: 180px;
}
.har{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.har-name{
    font-size: 20px;
    padding: 5px;
}
.work{
    font-style: italic;
    font-size: 12px;
    padding-bottom: 30px;
}
button{cursor: pointer;}
.btn-har{
    border: none;
    border-radius: 10px;
    background: #ffa019;
    height: 30px;
    width: 70px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
}
.brends{
    background: #FBFBFB;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 194px;
    margin-bottom: 150px;
}
.brends span{
    font-size: 47px;
    text-transform: uppercase;
    color: #9B9b9b;
    padding-right: 10px;
    font-weight: 700;
}
.info-span{
    font-size: 34px;
    font-weight: lighter;
}
.box{
    justify-content: space-between;
    display: flex;
    margin-top: 70px;
}
.card-info{
    display: flex;
    position: relative;
    align-items: center;
}
.info-image{
    width: 250px;
    height: 250px;
    filter: brightness(60%);
}
.text-info{   
    left: 0;  
    right: 0;
    text-align: center;
    position: absolute;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}
footer{
    height: 370px;
    background-color: #FBFBFB;
    margin-top: 105px;

}
.footer-text{
    color: #8191A6;
    padding-top: 55px;
    display: flex;

}
.footer-text1{
    max-width: 400px;
    padding-bottom: 30px;
}
.footer-text2{
    display: flex;
    margin-left: auto;
    line-height: 25px;
}
.footer-tabl{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.zagolovoc{
    color: #303842;
    font-weight: bold;
    margin-bottom: 5px;
}
.footer-tabl a{
    color: #8191A6; 
}
.modal-call{
    position:fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 80px 60px 100px;
    overflow-y: auto;
    display: none;
}
.call{
    position: relative;
    max-width: 600px;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
    background-color: white;
    color: #000;
    padding: 30px;
    cursor: default;
}
.call-title{
    font-size: 36px;
    text-align: center;

}
.call-close{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: outline-color .15s ease-in-out;
    border-radius: 3px;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
}
.call-close:focus-visible {
    outline-color: #ffa019;
}
.call-form{
    align-items: center;
}
.call-form p{
    text-align: center;
    padding-top: 10px;
    color: #d67d00;
}
.blank{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 35px;
    margin-top: 10px;
}
.blank input{
    background: transparent;
    height: 40px;
    border: none;
    border-bottom: 1px solid #ffa019 ;
    padding-left: 20px;
    font-size: 24px;
    color: #000000;
}
.blank input::placeholder{
    font-size: 24px;
    color: #252525;
}
.blank input:focus::placeholder{
    color: #161616;
}
.blank input:focus{
    outline: none;
}
.name{
    width: 100%;
}
.mail{
    width: 250px;
}
.phone{
    width: 250px;
}
.send button{
    padding: 15px 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    border-radius: 15px;
    border: none;
    background-color: #ffa019;
    margin-top: 40px;
    font-weight: 700;
}
.send button:hover{
    background-color: #fcb047;
}
.send button:active{
    transform: translateY(2px);
}

.modal-sub{
    position:fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 80px 60px 100px;
    overflow-y: auto;
}
.sub{
    position: relative;
    max-width: 600px;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
    background-color: white;
    color: #000;
    padding: 30px;
    cursor: default;
}
.sub p{
    font-size: 25px;
    text-align: center;
}
.modal-sms{
    position:fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 80px 60px 100px;
    overflow-y: auto;
}
.sms{
    position: relative;
    max-width: 600px;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
    background-color: white;
    color: #000;
    padding: 30px;
    cursor: default;
}
.sms-text{
    margin-top: 40px;
    border: 1px solid #ffa019;
    border-radius: 15px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
}
.sms-text textarea {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    font-size: 22px;
    color: #000;
}
.sms-text textarea:focus::placeholder{
    color: #161616;
}
.sms-text textarea:focus{
    outline: none;
}





